* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.card {
    width: 70%;
    height: 90vh;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 34px;
    z-index: 400;
    background: #ffffffd0;
    position: relative;
    overflow: hidden;
}

.card-grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 10fr;
    grid-template-columns: auto;
    grid-gap: 1px;
}

.card-grid-block {
    width: 100%;
    height: 100%;
}

.tile-grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1.2fr 1fr;
    grid-gap: 1px;
}

.tile-grid-block {
    width: 100%;
    height: 100%;
}

.image-grid {
    user-select: none;
}

.image-cover {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.image-grid-block {
    display: inline-block;
    margin: 1px;
}

.image-grid-block:nth-child(1) {
    width: 250px;
    height: 250px;
}

.image-grid-block:nth-child(2) {
    width: 130px;
    height: 180px;
}

.image-grid-block:nth-child(3) {
    width: 190px;
    height: 190px;
}

.image-grid-block:nth-child(4) {
    width: 180px;
    height: 150px;
}

.image-grid-block img {
    width: 100%;
    height: 100%;
    filter: drop-shadow(1px 1px 1px #00000090);
    z-index: 400;
}

.bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    user-select: none;
}

.bg img{
    width: 100%;
    height: 100%;
}

.text {
    color: #606060;
}

.text h1 {
    font-weight: 100;
    letter-spacing: 1px;
    line-height: 40px;
    padding-bottom: 15px;
}

.illustrator {
    position: absolute;
    bottom: 0;
    right: -100px;
    z-index: -1;
}

.illustrator svg {
    border-top-left-radius: 6000px;
}

.text p {
    font-weight: 100;
    line-height: 25px;
    letter-spacing: 1px;
    font-size: 15px;
}

.read {
    color: #606060;
    width: 150px;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border: none;
    outline: none;
    cursor: pointer;
    letter-spacing: 1px;
    margin-top: 100px;
    border-radius: 100px;
    user-select: none;
}

    .read:hover {
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }

.grid-block {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 4fr 1fr;
    grid-gap: 1px;
    background: #00000015;
    border-bottom: 1px solid #00000015;
    padding: 10px;
}

.card-grid-block:nth-child(1){
    user-select: none;
}

.card-grid-block:nth-child(2){
    padding-top: 25px;
}

.block {
    width: 100%;
    height: 100%;
}

.block:nth-child(1) {
    color: #32cd32;
    display: flex;
    align-items: center;
    filter: drop-shadow(1px 1px 1px #00000090);
}

.block:nth-child(2) {
    display: flex;
    align-items: center;
}

.block:nth-child(2) ul {
    color: #606060d0;
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: space-between;
}

.block:nth-child(2) ul li {
    list-style: none;
    letter-spacing: 1px;
    font-size: 18px;
    cursor: pointer;

    border-bottom: 1px solid transparent;
}

.block:nth-child(2) ul li:hover {
    transition: all 1s ease;
    border-bottom: 1px solid #606060;
}

.block:nth-child(2) ul li:not( :hover) {
    transition: all 1s ease;
}

.block:nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: orange;
}

.block:nth-child(3) h1 {
    font-weight: 100;
    text-shadow: 1px 1px 1px #00000090;
    cursor: default;
}

#close {
    display: none;
}

@media screen and (max-width: 991px) {
    .grid-block {
        padding-left: 40px;
        padding-right: 40px;
    }

    .container {
        height: auto;
    }

    .card {
        width: 100%;
        height: auto;
        padding: 0px;
    }

    .card-grid {
        grid-template-rows: auto auto;
    }

    .tile-grid {
        grid-template-rows: auto auto;
        grid-template-columns: auto;
    }

    .tile-grid-block:nth-child(1) {
        padding: 18px;
    }

    .image-grid-block:nth-child(1) {
        width: 100%;
        height: 400px;
    }

    .image-grid-block:nth-child(2) {
        width: 170px;
        height: 250px;
    }

    .image-grid-block:nth-child(3) {
        width: 250px;
        height: 240px;
    }

    .image-grid-block:nth-child(4) {
        width: 100%;
        height: 400px;
    }

    .grid-block {
        grid-template-columns: 1fr 1fr;
    }

    #menu {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #00000060;
        padding-left: 60px;
    }

    #menu ul {
        color: #ffffff;
        width: 100%;
        height: 600px;
        flex-direction: column;
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        z-index: 600;
    }

    #menu ul li:nth-child(2),
    #menu ul li:nth-child(3),
    #menu ul li:nth-child(4),
    #menu ul li:nth-child(5){
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 600;
        font-family: sans-serif;
        border-bottom: 1px solid #ffffff;
        width: 90%;
        padding-bottom: 10px;
        text-shadow: 0.6px 0.6px 1px #ffffffa0;
        cursor: pointer;
    }

    .card-grid-block:nth-child(2) {
        padding: 25px;
    }

    #close {
        display: block;
        cursor: pointer;
    }

    #home {
        cursor: pointer;
    }

    #menu ul li:nth-child(1) {
        width: 90%;
        display: flex;
        justify-content: flex-end;
    }

    #menu {
        display: none;
    }
}